pkgbase = protondrive
	pkgdesc = ProtonDrive CLI for Linux — two-way sync with conflict safety
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/ronki2304/ProtonDrive-LinuxClient
	arch = x86_64
	license = MIT
	provides = protondrive
	source = protondrive-0.1.0::https://github.com/ronki2304/ProtonDrive-LinuxClient/releases/download/v0.1.0/protondrive
	source = LICENSE-0.1.0::https://raw.githubusercontent.com/ronki2304/ProtonDrive-LinuxClient/v0.1.0/LICENSE
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = protondrive
